@{
    ViewBag.Title = "Source Wrestling School";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<!--  Insert the embedded source intro video here -->
<p>The Source Wrestling School is a professional wrestling training facility,
   and a full touring event company in the West of Scotland.</p>
