@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Source Wrestling School<br />
    23 Cogan Street, Pollokshaws<br />
    Glasgow<br />
</address>

<address>
    <strong><u>Social Media</u></strong><br />
    <strong>Facebook:</strong> <a href="http://www.facebook.com/SourceWres/">facebook.com/SourceWres/</a><br />
    <strong>Twitter:</strong> <a href="https://twitter.com/SourceWres">twitter.com/SourceWres</a>
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:support@sourcewrestling.com">support@sourcewrestling.com</a><br />
    <strong>Training:</strong> <a href="mailto:training@sourcewrestling.com">Marketing@sourcewrestling.com</a>
</address>