@model string
@using DayPilot.Web.Mvc;
@using DayPilot.Web.Mvc.Events.Calendar;
@{
    ViewBag.Title = "Lesson Schedule";
}

<h2>Lesson Schedule</h2>

@if (Model.Equals(" ") || Model == null)
{
    <p>Welcome!</p>
}
else if (Model.Equals("Overlap"))
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Sorry!</strong> You cannot select a time slot which contains another class.
    </div>
}
else if (Model.Equals("BookSuccess"))
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Success!</strong> You are now booked in to attend the class.
    </div>
}
else if (Model.Equals("CancelSuccess"))
{
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Sorry!</strong> You have cancelled your participation in the class.
    </div>
}

<div class="container">
    @Html.DayPilotCalendar("Dpc", new DayPilotCalendarConfig
    {
        BusinessBeginsHour = 10,
        BackendUrl = Url.Content("~/Schedule/Backend"),
        EventClickHandling = EventClickHandlingType.CallBack,
        TimeRangeSelectedHandling = TimeRangeSelectedHandlingType.CallBack,
        EventMoveHandling = EventMoveHandlingType.Disabled,
        EventResizeHandling = EventResizeHandlingType.Disabled,
        ShowToolTip = true,
        ViewType = DayPilot.Web.Mvc.Enums.Calendar.ViewType.Week,
        Days = 7,
        CssOnly = true,
        Theme = "source_wrestling_school"
    })
</div>



