@model string
@using DayPilot.Web.Mvc;
@using DayPilot.Web.Mvc.Events.Calendar;
@{
    ViewBag.Title = "Lesson Schedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/source_wrestling_school.css"> 
<script src="@Url.Content("~/Scripts/DayPilot/daypilot-all.min.js")" type="text/javascript"></script>

<h2>Lesson Schedule</h2>

@if (Model.Equals(" ") || Model == null)
{
    <p>Welcome!</p>
}
else if (Model.Equals("Overlap"))
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Sorry!</strong> You cannot select a time slot which contains another class.
    </div>
}
else if (Model.Equals("Private"))
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Thanks!</strong> You have requested a private session. Your instructor will respond soon.
    </div>
}
else if (Model.Equals("BookSuccess"))
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Success!</strong> You are now booked in to attend the class.
    </div>
}
else if (Model.Equals("CancelSuccess"))
{
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Sorry!</strong> You have cancelled your participation in the class.
    </div>
}
else if (Model.Equals("CancelSuccessFine"))
{
    <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Sorry!</strong> You have cancelled your booking, but too close to the class starting. A fine has been levied.
    </div>
}

<div class="container">
    <div class="space">
        Week:
        <a href="javascript:Dpc.commandCallBack('previous');">Previous</a>
        |
        <a href="javascript:Dpc.commandCallBack('next');">Next</a>
    </div>
    @Html.DayPilotCalendar("Dpc", new DayPilotCalendarConfig
    {
        Width = "85%",
        BusinessBeginsHour = 10,
        BackendUrl = Url.Content("~/Schedule/Backend"),
        EventClickHandling = EventClickHandlingType.CallBack,
        TimeRangeSelectedHandling = TimeRangeSelectedHandlingType.CallBack,
        EventMoveHandling = EventMoveHandlingType.Disabled,
        EventResizeHandling = EventResizeHandlingType.Disabled,
        ShowToolTip = true,
        ViewType = DayPilot.Web.Mvc.Enums.Calendar.ViewType.Week,
        Days = 7,
        CssOnly = true,
        Theme = "source_wrestling_school"
    })
</div>



