
@{
    ViewBag.Title = "Success";
}

<h2>Success</h2>

<div class="container">
    <p>You have applied to become a student member. An instructor will review your application,
       and respond to you in due course.</p>
</div>

